:root {
  --border-color: rgba(119, 119, 119, 0.452);
  --text-color: rgb(223, 223, 223);
}

@media (max-width: 1100px) {
  .currentInfo h5 {
    font-size: 14px;
  }
  .currentInfo h4 {
    font-size: 14px;
  }
  .currentInfo h1 {
    font-size: 24px;
  }

  .currentTemp {
    font-size: 24px;
  }

  .cel_far {
    font-size: 14px;
  }

  .WeatherForecastDay {
    font-size: 14px;
  }
}

@media (min-width: 1100px) {
  .currentInfo .infoWeatherBlock {
    width: 30%;
  }
  .currentInfo h5 {
    font-size: 14px;
  }
  .currentInfo h4 {
    font-size: 18px;
  }

  .currentTemp {
    font-size: 64px;
  }

  .cel_far {
    font-size: 18px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-image: url("../background.jpg");
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

footer {
  color: var(--text-color);
}

footer a {
  color: var(--text-color);
}

.App .conteiner {
  display: block;
  margin: 100px auto;
  width: 60%;
  padding: 50px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  box-shadow: -5px 12px 29px 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--text-color);
}

.currentInfo .infoWeatherStyle {
  justify-content: space-between;
}

.currentInfo .infoWeatherBlock {
  border: 1px solid var(--border-color);
  border-radius: 14px;
  padding: 1em;
}

.currentInfo h1 {
  font-family: "Oswald", sans-serif;
}

#github {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#currentIcon {
  display: flex;
  text-align: center;
  align-items: center;
}

.currentTemp {
  font-family: "Oswald", sans-serif;
}

#units {
  position: relative;
  margin-left: 0px;
}
.cel_far {
  text-align: left;
  font-family: "Lato", sans-serif;
  vertical-align: text-top;
  text-decoration: none;
  color: var(--text-color);
}
.moreInfo ul {
  padding-left: 0px;
  margin: 0 auto;
}
.moreInfo li {
  text-align: left;
  list-style: none;
  font-size: 14px;
}

.forecast {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}

.dayIcon {
  height: 60px;
  margin: 20px auto;
}

.ForecastDateTemperature-min {
  opacity: 0.6;
}
